:root {
  --boardsize: 400px;
  --tilesize: 100px;
  --boardpadding: 40px;
}

body {
    font-size: 20px;
    background: #333;
}

.noselect,
.tile
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cta-holder {
    position: relative;
    margin: 10px;
    width: calc(var(--boardsize) + (var(--boardpadding) * 2));
    margin-left: calc((var(--boardsize) / 2) * -1);
    left: 50%;
    text-align: center;
}

.frame {
    margin: 10px;
    margin-left: calc((var(--boardsize) / 2) * -1);
    width: calc(var(--boardsize) + (var(--boardpadding) * 2));
    height: calc(var(--boardsize) + (var(--boardpadding) * 2));
    transition-property: width, height;
    transition-duration: .200s;
    transition-timing-function: ease-out;

    background-color: #ddc;
    border: solid 40px #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%;

}

  .frame:before {
    border-radius: 2px;
    bottom: -16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -16px;
    position: absolute;
    right: -16px;
    top: -16px;
  }
  .frame:after {
    border-radius: 2px;
    bottom: -20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -20px;
    position: absolute;
    right: -20px;
    top: -20px;
  }

.tilesHolder {
    height: var(--boardsize);
    width: var(--boardsize);
    position: relative;
    background: #ccc;
    z-index: 999;


}
.tile {
    display: none;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    width: var(--tilesize);
    height: var(--tilesize);
    text-align: center;
    line-height: 100px;

    box-sizing: border-box;

    transition-property: left, top;
    transition-duration: .300s;
    transition-timing-function: ease-out;

    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #ccc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;

    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.col-1 { left: 0; }
.col-2 { left: 100px; }
.col-3 { left: 200px; }
.col-4 { left: 300px; }

.row-1 { top: 0}
.row-2 { top: 100px}
.row-3 { top: 200px}
.row-4 { top: 300px}


