:root {
  --boardsize: 400px;
  --tilesize: 100px;
  --boardpadding: 40px;
  --framescale: 1.0;
}
*{touch-action: pan-x pan-y;} /*only allow scroll gestures*/
#ver {
    font-size: 12px;
    color: #fff;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

html {
    /* hopefully this will disable double tap zoom */
    touch-action: pan-x pan-y;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    position: relative;

    /* hopefully this will disable double tap zoom */
    touch-action: pan-x pan-y;
    font-size: 20px;
    background: #333;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.modal {
    visibility:hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.modal.show {
    visibility:visible;
    z-index: 1000;
}
.modal .modalBG {
    position: absolute;
    background: rgba(33,33,33,0.0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal.show .modalBG {
    background: rgba(33,33,33,0.8);
    transition: background 1s ease 0s;
}
.modal .modalTitle {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #fff;
}
.modal .modalBody {
    position: absolute;
    border: solid 8px #ccc;
    width: 360px;
    height: 360px;
    margin: 0 auto;
    left: 50%;
    margin-left: -188px;
    background: #333;
    bottom: -360px;
    background: #333;
    border-radius: 8px;
    transition: bottom 1s ease 0s;
}
.modal.show .modalBody {
    bottom: 100px;
}

.modal .btn-close {
    position: absolute;
    right: -14px;
    top: -14px;
    background: #000;
    border: solid 2px #fff;
    border-radius: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.noselect,
.tile
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cta-holder {
    margin: 30px 10px;
    text-align: center;
}
.actions {
    margin-bottom: 10px;
}
.actions button {
    border: none;
    border-radius: 4px;
    background: #fff;
    height: 50px;
    padding: 0 20px;
}

.slider-holder {
    color: #fff;
    margin-top: 10px;
}
.slider-holder button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    background: #fff;
}
.slider-holder .btn-minus {
    float: left;
}
.slider-holder .btn-plus {
    float: right;
}
.slider-holder input {
    width: 200px;
    height: 40px;
    border-radius: 4px;
}

.frameOutside {
    width: calc((var(--boardsize) + (var(--boardpadding) * 2)) * var(--framescale));
    height: calc((var(--boardsize) + (var(--boardpadding) * 2)) * var(--framescale));
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}
.frame {
    /* hopefully this will disable double tap zoom */
    touch-action: manipulation;
    transform: scale(var(--framescale));;
    transform-origin:center top;
    /*margin: 10px;*/
    margin-left: calc(((var(--boardsize) + (var(--boardpadding) * 2)) / 2) * -1);
    width: calc(var(--boardsize) + (var(--boardpadding) * 2));
    height: calc(var(--boardsize) + (var(--boardpadding) * 2));
    transition-property: width, height;
    transition-duration: .200s;
    transition-timing-function: ease-out;

    background-color: #ddc;
    border: solid 40px #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
    left: 50%;
    /*margin-top: calc((var(--framescale) - 1) * 100%);*/

}

  .frame:before {
    border-radius: 2px;
    bottom: -16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -16px;
    position: absolute;
    right: -16px;
    top: -16px;
  }
  .frame:after {
    border-radius: 2px;
    bottom: -20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -20px;
    position: absolute;
    right: -20px;
    top: -20px;
  }

.tilesHolder {
    height: var(--boardsize);
    width: var(--boardsize);
    position: relative;
    background: #ccc;
    z-index: 999;


}
.tile {
    display: none;
    cursor:pointer;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    width: var(--tilesize);
    height: var(--tilesize);
    text-align: center;
    line-height: 100px;

    box-sizing: border-box;

    transition-property: left, top;
    transition-duration: .300s;
    transition-timing-function: ease-out;

    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #ccc;
    display:inline-block;
    color:#ffffff;

    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.btn-settings {
    position: absolute;
    right: 0;
    z-index: 10;
    font-size: 30px;
    border: none;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 36px;
    background: transparent;
    line-height: 36px;
}

.sound-toggle-holder {
    color: #fff;
}

.col-1 { left: 0; }
.col-2 { left: 100px; }
.col-3 { left: 200px; }
.col-4 { left: 300px; }

.row-1 { top: 0}
.row-2 { top: 100px}
.row-3 { top: 200px}
.row-4 { top: 300px}


